<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.study.mapper.DepartmentMapper">

  <resultMap id="DepartmentResultMap" type="com.hb.study.dao.Department">
    <id column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
      <collection property="employeeList" ofType="com.hb.study.dao.Employee" resultMap="com.hb.study.mapper.EmployeeMapper.EmployeeResultMap">

      </collection>
</resultMap>

   <sql id="Department_Column_List">
      department_id, department_name
  </sql>

    <sql id="Employee_Column_List">
       employee_id , employee_name, gender, email, birth
   </sql>

  <select id="queryDepartmentById" parameterType="java.lang.Integer" resultType="com.hb.study.dao.Department">
       select <include refid="Department_Column_List"/> from department

        <if test="_parameter != null">
           where department_id = #{departmentId};
        </if>
  </select>

    <select id="queryAllDepartment" resultMap="DepartmentResultMap">
        select d.department_id, d.department_name, e.employee_id, e.department_id ,e.employee_name, e.email, e.gender, e.birth from department d left join employee e
       on d.department_id = e.department_id;
    </select>

</mapper>